<!DOCTYPE html>
<html style="" class="js" itemscope="itemscope" itemtype="https://schema.org/WebPage" lang="en-US"><!-- head -->

<head>
<link rel="stylesheet" href="stylesheets/exchange-53de4da122.css"><meta http-equiv="content-type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" href="stylesheets/hsd.css" />
<link rel="stylesheet" type="text/css" href="stylesheets/finance.css" />
<script async="" src="javascripts/www-widgetapi.js" id="www-widgetapi-script" type="text/javascript"></script>
<script src="javascripts/hsd.js"></script>
<script src="javascripts/prototype.min.js"></script>
<script src="javascripts/Finance.js"></script>
<script src="javascripts/excanvas.js"></script>
<script src="javascripts/base64.js"></script>
<script src="javascripts/canvas2image.js"></script>
<script src="javascripts/canvastext.js"></script>
<script src="javascripts/flotr.js"></script>
<script src="javascripts/HumbleFinance.js"></script>
<script src="javascripts/demo.js"></script>  
<!-- meta -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title itemprop="name">THUBITCOIN</title>

<meta name="description" content="Buy Bitcoin, Create Bitcoin Wallets, Read Bitcoin News, and more, at Bitcoin.com">
<meta name="keywords" content="Bitcoin Wallets News Forums Buy Sell exchange shopping advertising">
<div style="display: none;" id="fit-vids-style" class="fit-vids-style">­<style>.fluid-width-video-wrapper{width:100%;position:relative;padding:0;}.fluid-width-video-wrapper iframe,.fluid-width-video-wrapper object,.fluid-width-video-wrapper embed {position:absolute;top:0;left:0;width:100%;height:100%;}</style></div><script src="javascripts/analytics.js" async=""></script><script>

    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-59964190-1', 'auto');
    ga('send', 'pageview');

</script>
<link rel="shortcut icon" href="https://www.bitcoin.com/wp-content/uploads/2016/01/btc_fav.png">  


<!-- wp_head() -->
<script>
//<![CDATA[
window.mfn_ajax = "/wp-admin/admin-ajax.php";
window.mfn_nicescroll = 40;
window.mfn_prettyphoto = {style:"pp_default", width:0, height:0};
window.mfn_sliders = {blog:0, clients:0, offer:0, portfolio:0, shop:0, slider:0, testimonials:0};
window.mfn_retina_disable = 0;
//]]>
</script>
<link rel="alternate" type="application/rss+xml" title="Bitcoin.com » Feed" href="https://www.bitcoin.com/feed">
    <script type="text/javascript">
      window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/72x72\/","ext":".png","source":{"concatemoji":"\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.5.1"}};
      !function(a,b,c){function d(a){var c,d,e,f=b.createElement("canvas"),g=f.getContext&&f.getContext("2d"),h=String.fromCharCode;if(!g||!g.fillText)return!1;switch(g.textBaseline="top",g.font="600 32px Arial",a){case"flag":return g.fillText(h(55356,56806,55356,56826),0,0),f.toDataURL().length>3e3;case"diversity":return g.fillText(h(55356,57221),0,0),c=g.getImageData(16,16,1,1).data,d=c[0]+","+c[1]+","+c[2]+","+c[3],g.fillText(h(55356,57221,55356,57343),0,0),c=g.getImageData(16,16,1,1).data,e=c[0]+","+c[1]+","+c[2]+","+c[3],d!==e;case"simple":return g.fillText(h(55357,56835),0,0),0!==g.getImageData(16,16,1,1).data[0];case"unicode8":return g.fillText(h(55356,57135),0,0),0!==g.getImageData(16,16,1,1).data[0]}return!1}function e(a){var c=b.createElement("script");c.src=a,c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g,h,i;for(i=Array("simple","flag","unicode8","diversity"),c.supports={everything:!0,everythingExceptFlag:!0},h=0;h<i.length;h++)c.supports[i[h]]=d(i[h]),c.supports.everything=c.supports.everything&&c.supports[i[h]],"flag"!==i[h]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[i[h]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);
    </script><script type="text/javascript" src="javascripts/wp-emoji-release.js"></script>
    <style type="text/css">
img.wp-smiley,
img.emoji {
  display: inline !important;
  border: none !important;
  box-shadow: none !important;
  height: 1em !important;
  width: 1em !important;
  margin: 0 .07em !important;
  vertical-align: -0.1em !important;
  background: none !important;
  padding: 0 !important;
}
</style>
<link rel="stylesheet" id="flick-css" href=stylesheets/flick.css" type="text/css" media="all">
<link rel="stylesheet" id="mailchimpSF_main_css-css" href="stylesheets/a.css" type="text/css" media="all">
<!--[if IE]>
<link rel='stylesheet' id='mailchimpSF_ie_css-css'  href='/wp-content/plugins/mailchimp/css/ie.css?ver=4.5.1' type='text/css' media='all' />
<![endif]-->
<link rel="stylesheet" id="nb-core-css" href="stylesheets/swift-box-layout.css" type="text/css" media="all">
<link rel="stylesheet" id="popup-maker-site-css" href="stylesheets/site.css" type="text/css" media="all">
<link rel="stylesheet" id="wa_chpcs_style-css" href="stylesheets/custom-style.css" type="text/css" media="all">
<link rel="stylesheet" id="cntctfrm_form_style-css" href="stylesheets/form_style.css" type="text/css" media="all">
<link rel="stylesheet" id="rs-plugin-settings-css" href="stylesheets/settings.css" type="text/css" media="all">
<style id="rs-plugin-settings-inline-css" type="text/css">
.tp-caption a{color:#ff7302;text-shadow:none;-webkit-transition:all 0.2s ease-out;-moz-transition:all 0.2s ease-out;-o-transition:all 0.2s ease-out;-ms-transition:all 0.2s ease-out}.tp-caption a:hover{color:#ffa902}.tp-caption a{-webkit-transition:all 0.2s ease-out;-moz-transition:all 0.2s ease-out;-o-transition:all 0.2s ease-out;-ms-transition:all 0.2s ease-out}
</style>
<link rel="stylesheet" id="wp-carousel-free-css-main-css" href="stylesheets/owl_006.css" type="text/css" media="all">
<link rel="stylesheet" id="wp-carousel-free-css-transition-css" href="stylesheets/owl_003.css" type="text/css" media="all">
<link rel="stylesheet" id="wp-carousel-free-css-theme-css" href="stylesheets/owl_002.css" type="text/css" media="all">
<link rel="stylesheet" id="wcf-fontello-css-css" href="stylesheets/fontello.css" type="text/css" media="all">
<link rel="stylesheet" id="multi-color-sub-css" href="stylesheets/multicolor-subscribe-widget.css" type="text/css" media="all">
<link rel="stylesheet" id="style-css" href="stylesheets/style_002.css" type="text/css" media="all">
<link rel="stylesheet" id="mfn-base-css" href="stylesheets/base.css" type="text/css" media="all">
<link rel="stylesheet" id="mfn-btn-css" href="stylesheets/buttons.css" type="text/css" media="all">
<link rel="stylesheet" id="mfn-icons-css" href="stylesheets/mfn-icons.css" type="text/css" media="all">
<link rel="stylesheet" id="mfn-grid-css" href="stylesheets/grid.css" type="text/css" media="all">
<link rel="stylesheet" id="mfn-layout-css" href="stylesheets/layout.css" type="text/css" media="all">
<link rel="stylesheet" id="mfn-shortcodes-css" href="stylesheets/shortcodes.css" type="text/css" media="all">
<link rel="stylesheet" id="mfn-variables-css" href="stylesheets/variables.css" type="text/css" media="all">
<link rel="stylesheet" id="mfn-style-simple-css" href="stylesheets/style-simple.css" type="text/css" media="all">
<link rel="stylesheet" id="mfn-animations-css" href="stylesheets/animations.css" type="text/css" media="all">
<link rel="stylesheet" id="mfn-colorpicker-css" href="stylesheets/colorpicker.css" type="text/css" media="all">
<link rel="stylesheet" id="mfn-jquery-ui-css" href="stylesheets/jquery.css" type="text/css" media="all">
<link rel="stylesheet" id="mfn-jplayer-css" href="stylesheets/jplayer.css" type="text/css" media="all">
<link rel="stylesheet" id="mfn-prettyPhoto-css" href="stylesheets/prettyPhoto.css" type="text/css" media="all">
<link rel="stylesheet" id="mfn-responsive-1240-css" href="stylesheets/responsive-1240.css" type="text/css" media="all">
<link rel="stylesheet" id="mfn-responsive-css" href="stylesheets/responsive.css" type="text/css" media="all">
<link rel="stylesheet" id="mfn-style-colors-php-css" href="stylesheets/style-colors.css" type="text/css" media="all">
<link rel="stylesheet" id="mfn-style-php-css" href="stylesheets/style.css" type="text/css" media="all">
<link rel="stylesheet" id="Roboto-css" href="stylesheets/css_003.css" type="text/css" media="all">
<link rel="stylesheet" id="Titillium+Web-css" href="stylesheets/css.css" type="text/css" media="all">
<link rel="stylesheet" id="Patua+One-css" href="stylesheets/css_002.css" type="text/css" media="all">
<link rel="stylesheet" id="mfn-custom-css" href="stylesheets/custom.css" type="text/css" media="all">
<link rel="stylesheet" id="__EPYT__style-css" href="stylesheets/ytprefs.css" type="text/css" media="all">
<style id="__EPYT__style-inline-css" type="text/css">

                .epyt-gallery-thumb {
                        width: 33.333%;
                }
</style>
<link rel="stylesheet" id="style.owl.carousel-css" href="stylesheets/owl.css" type="text/css" media="all">
<link rel="stylesheet" id="style.owl.carousel.theme-css" href="stylesheets/owl_004.css" type="text/css" media="all">
<link rel="stylesheet" id="style.owl.carousel.transitions-css" href="stylesheets/owl_005.css" type="text/css" media="all">
<link rel="stylesheet" id="style.owl.carousel.styles-css" href="stylesheets/styles.css" type="text/css" media="all">
<link rel="stylesheet" id="jquery.lightbox.min.css-css" href="stylesheets/lightbox.css" type="text/css" media="all">
<script type="text/javascript" src="javascripts/jquery_013.js"></script>
<script type="text/javascript" src="javascripts/jquery-migrate.js"></script>
<script type="text/javascript" src="javascripts/scrollTo.js"></script>
<script type="text/javascript" src="javascripts/jquery_012.js"></script>
<script type="text/javascript">
/* <![CDATA[ */
var mailchimpSF = {"ajax_url":"https:\/\/www.bitcoin.com\/"};
/* ]]> */
</script>
<script type="text/javascript" src="javascripts/mailchimp.js"></script>
<script type="text/javascript" src="javascripts/core.js"></script>
<script type="text/javascript" src="javascripts/datepicker.js"></script>
<script type="text/javascript" src="javascripts/jquery_009.js"></script>
<script type="text/javascript" src="javascripts/jquery_007.js"></script>
<script type="text/javascript" src="javascripts/jquery_011.js"></script>
<script type="text/javascript">
/* <![CDATA[ */
var chpcsArgs = {"auto_scroll":"false","circular":"false","easing_effect":"linear","item_align":"center","direction":"left","touch_swipe":"false","item_width":"180","time_out":"3000","css_transition":"false","infinite":"true","fx":"scroll"};
/* ]]> */
</script>
<script type="text/javascript" src="javascripts/script.js"></script>
<script type="text/javascript" src="javascripts/cntctfrm.js"></script>
<script type="text/javascript" src="javascripts/jquery_005.js"></script>
<script type="text/javascript" src="javascripts/jquery_010.js"></script>
<script type="text/javascript">
/* <![CDATA[ */
var _EPYT_ = {"ajaxurl":"\/wp-admin\/admin-ajax.php","security":"125d409fb5","gallery_scrolloffset":"20","eppathtoscripts":"https:\/\/www.bitcoin.com\/wp-content\/plugins\/youtube-embed-plus\/scripts\/","epresponsiveselector":"[\"iframe.__youtube_prefs_widget__\"]","epdovol":"1","version":"11.0.1","evselector":"iframe.__youtube_prefs__[src], iframe[src*=\"youtube.com\/embed\/\"], iframe[src*=\"youtube-nocookie.com\/embed\/\"]"};
/* ]]> */
</script>
<script type="text/javascript" src="javascripts/ytprefs.js"></script><script type="text/javascript" src="javascripts/iframe_api"></script>
<script type="text/javascript" src="javascripts/cycle.js"></script>
<script type="text/javascript" src="javascripts/owl.js"></script>
<script type="text/javascript" src="javascripts/script_002.js"></script>
<link rel="https://api.w.org/" href="https://www.bitcoin.com/wp-json/">
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://www.bitcoin.com/xmlrpc.php?rsd">
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://www.bitcoin.com/wp-includes/wlwmanifest.xml"> 
<link rel="canonical" href="https://www.bitcoin.com/">
<link rel="shortlink" href="https://www.bitcoin.com/">
<link rel="alternate" type="application/json+oembed" href="https://www.bitcoin.com/wp-json/oembed/1.0/embed?url=%2F">
<link rel="alternate" type="text/xml+oembed" href="https://www.bitcoin.com/wp-json/oembed/1.0/embed?url=%2F&amp;format=xml">
    <style id="pum-styles" type="text/css">
    /* Popup Google Fonts */
@import url('//fonts.googleapis.com/css?family=Acme|Montserrat');

/* Popup Theme 3586: Framed Border */
.pum-theme-3586, .pum-theme-framed-border { background-color: rgba( 255, 255, 255, 0.5 ) } 
.pum-theme-3586 .pum-container, .pum-theme-framed-border .pum-container { padding: 18px; border-radius: 0px; border: 20px outset #dd3333; box-shadow: 1px 1px 3px 0px rgba( 2, 2, 2, 0.97 ) inset; background-color: rgba( 255, 251, 239, 1 ) } 
.pum-theme-3586 .pum-title, .pum-theme-framed-border .pum-title { color: #000000; text-align: left; text-shadow: 0px 0px 0px rgba( 2, 2, 2, 0.23 ); font-family: inherit; font-size: 32px; line-height: 36px } 
.pum-theme-3586 .pum-content, .pum-theme-framed-border .pum-content { color: #2d2d2d; font-family: inherit } 
.pum-theme-3586 .pum-content + .pum-close, .pum-theme-framed-border .pum-content + .pum-close { height: 20px; width: 20px; left: auto; right: -20px; bottom: auto; top: -20px; padding: 0px; color: #ffffff; font-family: Acme; font-size: 20px; line-height: 20px; border: 1px none #ffffff; border-radius: 0px; box-shadow: 0px 0px 0px 0px rgba( 2, 2, 2, 0.23 ); text-shadow: 0px 0px 0px rgba( 0, 0, 0, 0.23 ); background-color: rgba( 0, 0, 0, 0.55 ) } 
/* Popup Theme 3585: Cutting Edge */
.pum-theme-3585, .pum-theme-cutting-edge { background-color: rgba( 0, 0, 0, 0.5 ) } 
.pum-theme-3585 .pum-container, .pum-theme-cutting-edge .pum-container { padding: 18px; border-radius: 0px; border: 1px none #000000; box-shadow: 0px 10px 25px 0px rgba( 2, 2, 2, 0.5 ); background-color: rgba( 30, 115, 190, 1 ) } 
.pum-theme-3585 .pum-title, .pum-theme-cutting-edge .pum-title { color: #ffffff; text-align: left; text-shadow: 0px 0px 0px rgba( 2, 2, 2, 0.23 ); font-family: Sans-Serif; font-size: 26px; line-height: 28px } 
.pum-theme-3585 .pum-content, .pum-theme-cutting-edge .pum-content { color: #ffffff; font-family: inherit } 
.pum-theme-3585 .pum-content + .pum-close, .pum-theme-cutting-edge .pum-content + .pum-close { height: 24px; width: 24px; left: auto; right: 0px; bottom: auto; top: 0px; padding: 0px; color: #1e73be; font-family: inherit; font-size: 32px; line-height: 24px; border: 1px none #ffffff; border-radius: 0px; box-shadow: -1px 1px 1px 0px rgba( 2, 2, 2, 0.1 ); text-shadow: -1px 1px 1px rgba( 0, 0, 0, 0.1 ); background-color: rgba( 238, 238, 34, 1 ) } 
/* Popup Theme 3584: Hello Box */
.pum-theme-3584, .pum-theme-hello-box { background-color: rgba( 0, 0, 0, 0.75 ) } 
.pum-theme-3584 .pum-container, .pum-theme-hello-box .pum-container { padding: 30px; border-radius: 80px; border: 14px solid #81d742; box-shadow: 0px 0px 0px 0px rgba( 2, 2, 2, 0 ); background-color: rgba( 255, 255, 255, 1 ) } 
.pum-theme-3584 .pum-title, .pum-theme-hello-box .pum-title { color: #2d2d2d; text-align: left; text-shadow: 0px 0px 0px rgba( 2, 2, 2, 0.23 ); font-family: Montserrat; font-size: 32px; line-height: 36px } 
.pum-theme-3584 .pum-content, .pum-theme-hello-box .pum-content { color: #2d2d2d; font-family: inherit } 
.pum-theme-3584 .pum-content + .pum-close, .pum-theme-hello-box .pum-content + .pum-close { height: auto; width: auto; left: auto; right: -30px; bottom: auto; top: -30px; padding: 0px; color: #2d2d2d; font-family: inherit; font-size: 32px; line-height: 28px; border: 1px none #ffffff; border-radius: 28px; box-shadow: 0px 0px 0px 0px rgba( 2, 2, 2, 0.23 ); text-shadow: 0px 0px 0px rgba( 0, 0, 0, 0.23 ); background-color: rgba( 255, 255, 255, 1 ) } 
/* Popup Theme 3583: Enterprise Blue */
.pum-theme-3583, .pum-theme-enterprise-blue { background-color: rgba( 0, 0, 0, 0.7 ) } 
.pum-theme-3583 .pum-container, .pum-theme-enterprise-blue .pum-container { padding: 28px; border-radius: 5px; border: 1px none #000000; box-shadow: 0px 10px 25px 4px rgba( 2, 2, 2, 0.5 ); background-color: rgba( 255, 255, 255, 1 ) } 
.pum-theme-3583 .pum-title, .pum-theme-enterprise-blue .pum-title { color: #315b7c; text-align: left; text-shadow: 0px 0px 0px rgba( 2, 2, 2, 0.23 ); font-family: inherit; font-size: 34px; line-height: 36px } 
.pum-theme-3583 .pum-content, .pum-theme-enterprise-blue .pum-content { color: #2d2d2d; font-family: inherit } 
.pum-theme-3583 .pum-content + .pum-close, .pum-theme-enterprise-blue .pum-content + .pum-close { height: 28px; width: 28px; left: auto; right: 8px; bottom: auto; top: 8px; padding: 4px; color: #ffffff; font-family: inherit; font-size: 20px; line-height: 20px; border: 1px none #ffffff; border-radius: 42px; box-shadow: 0px 0px 0px 0px rgba( 2, 2, 2, 0.23 ); text-shadow: 0px 0px 0px rgba( 0, 0, 0, 0.23 ); background-color: rgba( 49, 91, 124, 1 ) } 
/* Popup Theme 3582: Light Box */
.pum-theme-3582, .pum-theme-lightbox { background-color: rgba( 0, 0, 0, 0.6 ) } 
.pum-theme-3582 .pum-container, .pum-theme-lightbox .pum-container { padding: 18px; border-radius: 3px; border: 8px solid #000000; box-shadow: 0px 0px 30px 0px rgba( 2, 2, 2, 1 ); background-color: rgba( 255, 255, 255, 1 ) } 
.pum-theme-3582 .pum-title, .pum-theme-lightbox .pum-title { color: #000000; text-align: left; text-shadow: 0px 0px 0px rgba( 2, 2, 2, 0.23 ); font-family: inherit; font-size: 32px; line-height: 36px } 
.pum-theme-3582 .pum-content, .pum-theme-lightbox .pum-content { color: #000000; font-family: inherit } 
.pum-theme-3582 .pum-content + .pum-close, .pum-theme-lightbox .pum-content + .pum-close { height: 30px; width: 30px; left: auto; right: -24px; bottom: auto; top: -24px; padding: 0px; color: #ffffff; font-family: inherit; font-size: 24px; line-height: 26px; border: 2px solid #ffffff; border-radius: 30px; box-shadow: 0px 0px 15px 1px rgba( 2, 2, 2, 0.75 ); text-shadow: 0px 0px 0px rgba( 0, 0, 0, 0.23 ); background-color: rgba( 0, 0, 0, 1 ) } 
/* Popup Theme 3581: Default Theme */
.pum-theme-3581, .pum-theme-default-theme { background-color: rgba( 255, 255, 255, 1 ) } 
.pum-theme-3581 .pum-container, .pum-theme-default-theme .pum-container { padding: 18px; border-radius: 0px; border: 1px none #000000; box-shadow: 1px 1px 3px 0px rgba( 2, 2, 2, 0.23 ); background-color: rgba( 249, 249, 249, 1 ) } 
.pum-theme-3581 .pum-title, .pum-theme-default-theme .pum-title { color: #000000; text-align: left; text-shadow: 0px 0px 0px rgba( 2, 2, 2, 0.23 ); font-family: inherit; font-weight: inherit; font-size: 32px; font-style: normal; line-height: 36px } 
.pum-theme-3581 .pum-content, .pum-theme-default-theme .pum-content { color: #8c8c8c; font-family: inherit; font-weight: inherit; font-style: normal } 
.pum-theme-3581 .pum-content + .pum-close, .pum-theme-default-theme .pum-content + .pum-close { height: auto; width: auto; left: auto; right: 0px; bottom: auto; top: 0px; padding: 8px; color: #ffffff; font-family: inherit; font-weight: inherit; font-size: 12px; font-style: normal; line-height: 14px; border: 1px none #ffffff; border-radius: 0px; box-shadow: 0px 0px 0px 0px rgba( 2, 2, 2, 0.23 ); text-shadow: 0px 0px 0px rgba( 0, 0, 0, 0.23 ); background-color: rgba( 0, 183, 205, 1 ) } 
        </style>  <script type="text/javascript">
    jQuery(function($) {
      $('.date-pick').each(function() {
        var format = $(this).data('format') || 'mm/dd/yyyy';
        format = format.replace(/yyyy/i, 'yy');
        $(this).datepicker({
          autoFocusNextInput: true,
          constrainInput: false,
          changeMonth: true,
          changeYear: true,
          beforeShow: function(input, inst) { $('#ui-datepicker-div').addClass('show'); },
          dateFormat: format.toLowerCase(),
        });
      });
      d = new Date();
      $('.birthdate-pick').each(function() {
        var format = $(this).data('format') || 'mm/dd';
        format = format.replace(/yyyy/i, 'yy');
        $(this).datepicker({
          autoFocusNextInput: true,
          constrainInput: false,
          changeMonth: true,
          changeYear: false,
          minDate: new Date(d.getFullYear(), 1-1, 1),
          maxDate: new Date(d.getFullYear(), 12-1, 31),
          beforeShow: function(input, inst) { $('#ui-datepicker-div').removeClass('show'); },
          dateFormat: format.toLowerCase(),
        });

      });

    });
  </script>
  <script type="text/javascript">
  jQuery(document).ready(function(){
    jQuery('img[usemap]').rwdImageMaps();
  });
</script>
<style type="text/css">
  img[usemap] { max-width: 100%; height: auto; }
</style>

<link rel="alternate" type="application/rss+xml" title="Podcast RSS feed" href="https://www.bitcoin.com/feed/podcast-feed">

<style>
#Action_bar .social li a i { font-size: 25px; color: #0d579b; }


@media screen and (max-width:768px) {
    ul.social {
        display: none;
    }
    .nav-tabs.pull-left, .nav-tabs.pull-right {
         float:none; 
    }
    .nav-tabs.col-md-6 {
         width:auto;
    }
    .nav-tabs li.label { 
        display:block;
    }
}
body {
        padding-top: 0;
}

ul.contact_details {
margin-top: 14px;
}

.rev-btn {
text-align:center;
}
#menu > ul > li > a, .action_button, #overlay-menu ul li a {
font-family: 'museo-sans-rounded' !important;
text-transform: capitalize;
}

#Footer {
background-size:cover;
background-position: center center;
}

#Header {
padding:15px 0;
}
.header-plain #Top_bar {
border-bottom:0;
}

.top_bar_right {
display:none;
}
.header-plain #Top_bar .menu > li:first-child > a span:not(.description) {
border:0;
}
#Top_bar #logo {
padding:10px 0;
}

.orange-spinner {
    background-image: url(/wp-content/plugins/spin-orange.gif);
    background-repeat: no-repeat;
    background-position: 50%;
    background-color: rgb(251, 186, 22);
    color: rgba(0,0,0,0);
}

#mc_mv_FREQ {
    background: url(https://www.bitcoin.com/wp-content/br_down.png) no-repeat right #ddd;
    -webkit-appearance: none;
    background-position-x: 244px;
}
.ui-tabs .ui-tabs-nav li a {
border-color:#fab915;
}
.ui-tabs .ui-tabs-nav li a:hover {
background:#fab915 !important;
color:#fff;
}
.ui-tabs .ui-tabs-nav li.ui-state-active a:after {
background:#fab915;
}
.header-bg .inside {
line-height:30px;
}

.nav-tabs {
border-bottom:1px solid #ddd;
margin-bottom:15px;
}
.nav-tabs li {
display:inline-block;
border:1px solid #ddd;
position:relative;
top:1px;
z-index:99;
border-radius:4px 4px 0px 0px;
margin-right:15px;
}
.nav-tabs li.label {
border:0;
font-weight:bold;
}

.nav-tabs li:last-child {
margin-right:0;
}
.nav-tabs li a {
padding:15px;
display:block;
}
.nav-tabs li.active {
border-bottom:1px solid #fff;
}
.nav-tabs li.active a {
color:#333;

}
.tab-content .tab {
display:none;
}
.tab-content .tab.active {
display:block;
}

.pull-left {
float:left;
}
.pull-right {
float:right;
}
.col-md-6 {
width:50%;
}

.tab img {
width:auto;
}
</style>

<!--[if lt IE 9]>
<script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<meta name="generator" content="Powered by Slider Revolution 5.0.4.1 - responsive, Mobile-Friendly Slider Plugin for WordPress with comfortable drag and drop interface.">
<link rel="stylesheet" href="stylesheets/dark.css"><link rel="stylesheet" href="stylesheets/magnific-popup-style.css">
<script type="text/javascript" src="https://www.bitcoin.com/wp-content/plugins/revslider/public/assets/js/extensions/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="https://www.bitcoin.com/wp-content/plugins/revslider/public/assets/js/extensions/revolution.extension.actions.min.js"></script>
<script type="text/javascript" src="https://www.bitcoin.com/wp-content/plugins/revslider/public/assets/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="https://www.bitcoin.com/wp-content/plugins/revslider/public/assets/js/extensions/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="https://www.bitcoin.com/wp-content/plugins/revslider/public/assets/js/extensions/revolution.extension.parallax.min.js"></script>
</head>

<!-- body -->
<body style="" class="home page page-id-7 page-template-default template-slider  color-custom style-simple layout-full-width no-section-bg-tablet mobile-tb-left mobile-wide no-content-padding header-plain header-boxed minimalist-header sticky-header sticky-white ab-hide subheader-title-left menu-line-below menuo-right menuo-no-borders">

  
  <!-- mfn_hook_top --><!-- mfn_hook_top -->  
    
    
  <!-- #Wrapper -->
  <div style="" id="Wrapper">
    <!-- #Header_bg -->
    <div style="background-position: 0% 134.5px;" id="Header_wrapper" class="bg-parallax" data-stellar-background-ratio="0.5">
      <!-- #Header -->
      <header id="Header">
        <!-- .header_placeholder 4sticky  -->
        <div style="height: 80px;" class="header_placeholder"></div>
        <div style="top: 0px;" class="is-sticky" id="Top_bar">
          <div class="container">
            <div class="column one">
              <div style="width: 1131px;" class="top_bar_left clearfix">
                <!-- .logo -->
                <div class="logo">
                  <a id="logo" href="https://www.bitcoin.com/" title="Bitcoin.com"><img class="logo-main   scale-with-grid" src="images/my-bitcoin-logo.png" alt="Bitcoin.com"><img class="logo-sticky scale-with-grid" src="images/my-bitcoin-logo.png" alt=""><img class="logo-mobile scale-with-grid" src="images/my-bitcoin-logo.png" alt=""></a>        
                </div>
                <div class="menu_wrapper">
                  <nav id="menu" class="menu-main-menu-container">
                    <ul id="menu-main-menu" class="menu">
                      <li id="menu-item-2516" class="menu-item menu-item-type-custom menu-item-object-custom">
                        <a href="https://www.bitcoin.com/choose-your-wallet">
                          <span>Wallets</span>
                        </a>
                        </li>
                      <li id="menu-item-3371" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children submenu">
                        <a href="#">
                          <span>Get Bitcoin</span>
                        </a>
                      </li>
                      <li id="menu-item-3531" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children submenu">
                        <a href="#">
                          <span>Spend Bitcoin</span>
                        </a>
                      </li>
                      <li id="menu-item-2868" class="menu-item menu-item-type-custom menu-item-object-custom">
                        <a href="https://forum.bitcoin.com/">
                          <span>Program Introduction</span>
                        </a>
                      </li>
                      <li id="menu-item-3555" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children submenu">
                        <a href="#">
                          <span>About Us</span>
                        </a>
                      </li>
                      <li id="menu-item-2572" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children submenu">
                        <a href="#">
                          <span>Get Start</span>
                        </a>
                        <ul class="sub-menu">
                          <li id="menu-item-2573" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="https://www.bitcoin.com/getting-started"><span>Sign Up</span></a></li>
                          <li id="menu-item-2575" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="https://www.bitcoin.com/you-need-to-know"><span>Sign In</span></a></li>
                          <li id="menu-item-3375" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="https://www.bitcoin.com/faq"><span>FAQ</span></a></li>
                          <li id="menu-item-3098" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="https://chat.bitcoin.com/"><span>Live chat</span></a></li>
                          <li id="menu-item-3299" class="menu-item menu-item-type-custom menu-item-object-custom last-item"><a href="https://price.bitcoin.com/"><span>Charts</span></a></li>
                        </ul>
                        <span class="menu-toggle"></span>
                      </li>
                    </ul>
                  </nav>
                  <a class="responsive-menu-toggle " href="#"><i class="icon-menu"></i></a>          
                </div>      
                <div class="secondary_menu_wrapper"></div>
                
                <div class="banner_wrapper"></div>
                
                <div class="search_wrapper">
                  <!-- #searchform -->
                  <form method="get" id="searchform" action="/">
                    <i class="icon_search icon-search"></i>
                    <a href="#" class="icon_close"><i class="icon-cancel"></i></a>
                    <input class="field" name="s" id="s" placeholder="Enter your search" type="text">     
                    <input class="submit" value="" style="display:none;" type="submit">
                  </form>
                </div>        
              
                <div style="" class="top_bar_right">
                  <div class="top_bar_right_wrapper">
                    <a id="search_button" href="#"><i class="icon-search"></i></a>
                  </div>
                </div>  
              </div>
            </div>
          </div>
        </div> 

  <article class="ng-scope" id="market">
    <section class="container-fixed">
        <section class="main-content">
            <section class="ng-scope" id="market_list" ng-controller="MarketsCtrl">
              
                <div class="live-ticker ng-scope" ng-controller="TickerCtrl">
                    <ul ng-show="market==='cnybtc'">
                        <li class="ng-binding">北京时间
                            <p>
                                <span id="Beijing_time" style='font-size:18px;'><%=datetime[0]%></span>
                            </p>
                        </li>
                        <li class="ng-binding">最新价格
                            <p>
                                ¥<span id="newest_price" class="last-cnybtc-live-ticker"><%=price[0]%></span>
                            </p>
                        </li>
                         <li class="ng-binding">买卖决定
                        <p>
                           <span id="buy_cnybtc" class="buy-color"><span >买</span></span> 
                           <span  id="sell_cnybtc" class="sell-color"><span>卖</span></span>
                        </p>
                         </li>
                        <li class="ng-binding" style="text-align:left;">
                            现金余额
                            <p>￥<span id="rmb-account" class="last-cnybtc-live-ticker"><%=RMBAccount[0]%></span>
                            </p>
                        </li>
                        <li class="ng-binding">
                            比特币余额
                            <p>฿<span id= 'btc-account' class="last-cnybtc-live-ticker"><%=BTCAccount[0]%></span>
                            </p>
                        </li> 
                     
                      
                    </ul>
                </div>
              </section>
            </section>
          </section>
        </article>
  
<div id="content-container">
  <div id="content">
    <div id="finance">
      <div id="labels">
        <div id="financeTitle">
          比特币现值变化曲线</div>
        <div id="time">
          <a onclick="HumbleFinance.zoom(5);">10m</a>
          <a onclick="HumbleFinance.zoom(21);">1h</a>
          <a onclick="HumbleFinance.zoom(65);">1d</a>
          <a onclick="HumbleFinance.zoom(127);">3d</a>
          <a onclick="HumbleFinance.zoom(254);">7d</a>
          <a onclick="HumbleFinance.zoom(1265);">30d</a> </div>
        <div id="dateRange">
        </div>
      </div>
    </div>
  </div>
</div>        
  
<script>document.write("<style type=\"text/css\">.tp-caption.Fashion-BigDisplay,.Fashion-BigDisplay{color:rgba(0,0,0,1.00);font-size:60px;line-height:60px;font-weight:900;font-style:normal;font-family:Raleway;padding:0 0 0 0;text-decoration:none;background-color:transparent;border-color:transparent;border-style:none;border-width:0;border-radius:0 0 0 0;letter-spacing:2px}</style>");</script><style type="text/css">.tp-caption.Fashion-BigDisplay,.Fashion-BigDisplay{color:rgba(0,0,0,1.00);font-size:60px;line-height:60px;font-weight:900;font-style:normal;font-family:Raleway;padding:0 0 0 0;text-decoration:none;background-color:transparent;border-color:transparent;border-style:none;border-width:0;border-radius:0 0 0 0;letter-spacing:2px}</style>
    <script type="text/javascript">

      /******************************************
        - PREPARE PLACEHOLDER FOR SLIDER  -
      ******************************************/

      var setREVStartSize=function(){
        try{var e=new Object,i=jQuery(window).width(),t=9999,r=0,n=0,l=0,f=0,s=0,h=0;
          e.c = jQuery('#rev_slider_9_2');
          e.responsiveLevels = [620,620,778,778];
          e.gridwidth = [1400,1240,778,320];
          e.gridheight = [600,500,400,355];
              
          e.sliderLayout = "fullwidth";
          e.minHeight = 355;
          if(e.responsiveLevels&&(jQuery.each(e.responsiveLevels,function(e,f){f>i&&(t=r=f,l=e),i>f&&f>r&&(r=f,n=e)}),t>r&&(l=n)),f=e.gridheight[l]||e.gridheight[0]||e.gridheight,s=e.gridwidth[l]||e.gridwidth[0]||e.gridwidth,h=i/s,h=h>1?1:h,f=Math.round(h*f),"fullscreen"==e.sliderLayout){var u=(e.c.width(),jQuery(window).height());if(void 0!=e.fullScreenOffsetContainer){var c=e.fullScreenOffsetContainer.split(",");jQuery.each(c,function(e,i){u=jQuery(i).length>0?u-jQuery(i).outerHeight(!0):u}),e.fullScreenOffset.split("%").length>1&&void 0!=e.fullScreenOffset&&e.fullScreenOffset.length>0?u-=jQuery(window).height()*parseInt(e.fullScreenOffset,0)/100:void 0!=e.fullScreenOffset&&e.fullScreenOffset.length>0&&(u-=parseInt(e.fullScreenOffset,0))}f=u}else void 0!=e.minHeight&&f<e.minHeight&&(f=e.minHeight);e.c.closest(".rev_slider_wrapper").css({height:f})
        }catch(d){console.log("Failure at Presize of Slider:"+d)}
      };
            
        
      setREVStartSize();
      
      var tpj=jQuery;
      
      var revapi9;
      tpj(document).ready(function() {
        if(tpj("#rev_slider_9_2").revolution == undefined){
          revslider_showDoubleJqueryError("#rev_slider_9_2");
        }else{
          revapi9 = tpj("#rev_slider_9_2").show().revolution({
            sliderType:"standard",
            jsFileLocation:"https://www.bitcoin.com/wp-content/plugins/revslider/public/assets/js/",
            sliderLayout:"fullwidth",
            dottedOverlay:"none",
            delay:9000,
            navigation: {
              keyboardNavigation:"off",
              keyboard_direction: "horizontal",
              mouseScrollNavigation:"off",
              onHoverStop:"on",
              touch:{
                touchenabled:"on",
                swipe_threshold: 75,
                swipe_min_touches: 50,
                swipe_direction: "horizontal",
                drag_block_vertical: false
              }
              ,
              bullets: {
                enable:true,
                hide_onmobile:true,
                hide_under:600,
                style:"hephaistos",
                hide_onleave:true,
                hide_delay:200,
                hide_delay_mobile:1200,
                direction:"vertical",
                h_align:"right",
                v_align:"center",
                h_offset:30,
                v_offset:0,
                space:5,
                tmp:''
              }
            },
            responsiveLevels:[620,620,778,778],
            gridwidth:[1400,1240,778,320],
            gridheight:[600,500,400,355],
            lazyType:"smart",
            minHeight:355,
            parallax: {
              type:"mouse",
              origo:"slidercenter",
              speed:2000,
              levels:[2,3,4,5,6,7,12,16,10,50],
            },
            shadow:0,
            spinner:"off",
            stopLoop:"off",
            stopAfterLoops:-1,
            stopAtSlide:-1,
            shuffle:"off",
            autoHeight:"off",
            disableProgressBar:"on",
            hideThumbsOnMobile:"on",
            hideSliderAtLimit:0,
            hideCaptionAtLimit:0,
            hideAllCaptionAtLilmit:0,
            startWithSlide:0,
            debugMode:false,
            fallbacks: {
              simplifyAll:"off",
              nextSlideOnWindowFocus:"off",
              disableFocusListener:"off",
            }
          });
        }
      }); /*ready*/
    </script>
    <script>document.write("<style type=\"text/css\">.hephaistos.tp-bullets{}.hephaistos.tp-bullets:before{content:\" \";position:absolute;width:100%;height:100%;background:transparent;padding:10px;margin-left:-10px;margin-top:-10px;box-sizing:content-box}.hephaistos .tp-bullet{width:12px;height:12px;position:absolute;background:#999;border:3px solid #f5f5f5;border-radius:50%;cursor:pointer;box-sizing:content-box; box-shadow:0px 0px 2px 1px rgba(130,130,130,0.3)}.hephaistos .tp-bullet:hover,.hephaistos .tp-bullet.selected{background:#fff;  border-color:#000}.hephaistos .tp-bullet-image{}.hephaistos .tp-bullet-title{}</style>");</script>
    <style type="text/css">.hephaistos.tp-bullets{}.hephaistos.tp-bullets:before{content:" ";position:absolute;width:100%;height:100%;background:transparent;padding:10px;margin-left:-10px;margin-top:-10px;box-sizing:content-box}.hephaistos .tp-bullet{width:12px;height:12px;position:absolute;background:#999;border:3px solid #f5f5f5;border-radius:50%;cursor:pointer;box-sizing:content-box; box-shadow:0px 0px 2px 1px rgba(130,130,130,0.3)}.hephaistos .tp-bullet:hover,.hephaistos .tp-bullet.selected{background:#fff;  border-color:#000}.hephaistos .tp-bullet-image{}.hephaistos .tp-bullet-title{}</style>
    </div><div class="tp-fullwidth-forcer" style="width: 100%; height: 600px;"></div></div><!-- END REVOLUTION SLIDER -->
    </div>   





<!-- mfn_hook_content_after --><!-- mfn_hook_content_after -->
<!-- #Footer -->    

<style>
  .widget_mailchimpsf_widget .widget-title {
    line-height: 1.4em;
    margin-bottom: 0.75em;
  }
  #mc_subheader {
    line-height: 1.25em;
    margin-bottom: 18px;
  }
  .mc_merge_var {
    margin-bottom: 1.0em;
  }
  .mc_var_label,
  .mc_interest_label {
    display: block;
    margin-bottom: 0.5em;
  }
  .mc_input {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
  }
  .mc_input.mc_phone {
    width: auto;
  }
  select.mc_select {
    margin-top: 0.5em;
    width: 100%;
  }
  .mc_address_label {
    margin-top: 1.0em;
    margin-bottom: 0.5em;
    display: block;
  }
  .mc_address_label ~ select {
    width: 100%;    
  }
  .mc_list li {
    list-style: none;
    background: none !important;
  }
  .mc_interests_header {
    margin-top: 1.0em;
    margin-bottom: 0.5em;
  }
  .mc_interest label,
  .mc_interest input {
    margin-bottom: 0.4em;
  }
  #mc_signup_submit {
    margin-top: 1.5em;
    width: 80%;
  }
  #mc_unsub_link a {
    font-size: 0.75em;
  }
  #mc_unsub_link {
    margin-top: 1.0em;
  }
  .mc_header_address,
  .mc_email_format {
    display: block;
    font-weight: bold;
    margin-top: 1.0em;
    margin-bottom: 0.5em;
  }
  .mc_email_options {
    margin-top: 0.5em;
  }
  .mc_email_type {
    padding-left: 4px;
  }
</style>

<script type="text/javascript" src="javascripts/swift-box.js"></script>
<script type="text/javascript" src="javascripts/jquery_008.js"></script>
<script type="text/javascript" src="javascripts/owl_002.js"></script>
<script type="text/javascript" src="javascripts/widget.js"></script>
<script type="text/javascript" src="javascripts/mouse.js"></script>
<script type="text/javascript" src="javascripts/sortable.js"></script>
<script type="text/javascript" src="javascripts/tabs.js"></script>
<script type="text/javascript" src="javascripts/accordion.js"></script>
<script type="text/javascript" src="javascripts/jquery_002.js"></script>
<script type="text/javascript" src="javascripts/animations.js"></script>
<script type="text/javascript" src="javascripts/jquery.js"></script>
<script type="text/javascript" src="javascripts/colorpicker.js"></script>
<script type="text/javascript" src="javascripts/mfn.js"></script>
<script type="text/javascript" src="javascripts/scripts.js"></script>
<script type="text/javascript" src="javascripts/position.js"></script>
<script type="text/javascript">
/* <![CDATA[ */
var pum_vars = {"ajaxurl":"\/wp-admin\/admin-ajax.php","default_theme":"3581"};
var ajaxurl = "\/wp-admin\/admin-ajax.php";
var popmake_default_theme = "3581";
/* ]]> */
</script>
<script type="text/javascript" src="javascripts/site.js" defer="defer"></script>
<script type="text/javascript" src="javascripts/fitvids.js"></script>
<script type="text/javascript" src="javascripts/jquery_003.js"></script>
<script type="text/javascript">
/* <![CDATA[ */
var JQLBSettings = {"showTitle":"0","showCaption":"0","showNumbers":"0","fitToScreen":"0","resizeSpeed":"400","showDownload":"1","navbarOnTop":"0","marginSize":"0","slideshowSpeed":"4000","prevLinkTitle":"previous image","nextLinkTitle":"next image","closeTitle":"close image gallery","image":"Image ","of":" of ","download":"Download","pause":"(pause slideshow)","play":"(play slideshow)"};
/* ]]> */
</script>
<script type="text/javascript" src="javascripts/jquery_004.js"></script>
<script type="text/javascript" src="javascripts/wp-embed.js"></script>
<script>
//<![CDATA[
jQuery(function($){
   
    $('a#logo').attr('href', '/');
    $('.nav-tabs li a').click(function(e) {
      e.preventDefault();
      $(this).parents('.nav-tabs').find('li').removeClass('active');
      $(this).parent().addClass('active');
      var id = $(this).attr('href');
      $(this).parents('.nav-tabs').next('.tab-content').find('.tab.active').removeClass('active');
    $(id).addClass('active');
    $(id).find('.nav-tabs li').removeClass('active');
    $(id).find('.nav-tabs li').first().addClass('active');
           $(id).find('.tab').first().addClass('active');
    });
});
//]]>
</script>
    <script type="text/javascript">
  nb_lightbox = true;
  nb_touchswipe = true;
  nb_min_news_h = 150;
  nb_min_news_w = 200;
  nb_min_horiz_w = 400;
  nb_read_more_txt = "..";
  nb_fb_share_fix = "https://www.bitcoin.com/wp-content/plugins/swift-box-wp/lcis_fb_img_fix.php";
  nb_script_basepath = "https://www.bitcoin.com/wp-content/plugins/swift-box-wp/js/sb/";
  
  nb_short_d_names = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"];
  nb_full_d_names = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
  nb_short_m_names = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
  nb_full_m_names = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
  nb_elapsed_names = ["ago", "seconds", "minute", "minutes", "hour", "hours", "day", "days", "week", "weeks", "month", "months"];
  
    </script>
  

<script src="javascripts/magnific-popup.js" type="text/javascript"></script><script src="javascripts/jquery_006.js" type="text/javascript"></script>
<script src="javascripts/bitCoinData.js"></script>
<script> 
  var i = 0;
  var beijing_time = '<%=datetime%>';
  var newest_price = '<%=price%>';
  var final_decision = '<%=buy%>';
  var btcAccount = '<%=BTCAccount%>';
  var rmbAccount = '<%=RMBAccount%>';
  beijing_time = beijing_time.split(','); 
  newest_price = newest_price.split(',');
  final_decision = final_decision.split(',');
  btcAccount = btcAccount.split(',');
  rmbAccount = rmbAccount.split(',');
  function refresh(){
    jQuery("#Beijing_time").text(beijing_time[i]);
    jQuery("#newest_price").text(newest_price[i]);
    if(final_decision[i]=='0'){
      jQuery("#buy_cnybtc").show();
      jQuery("#sell_cnybtc").hide();
    }
    else{
      jQuery("#buy_cnybtc").hide();
      jQuery("#sell_cnybtc").show();
    }
    jQuery("#final_decision").text(final_decision[i]);
    jQuery("#btc-account").text(btcAccount[i]);
    jQuery("#rmb-account").text(rmbAccount[i]);
    i++;
  }

  setInterval("refresh()",2000);
  setInterval("redraw()",2000);
</script>
</body></html>